

{% extends 'base.html' %} {% block content %}
<h3> Add Incident </h3>
<div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Incident Category</label>
                </div>
            </div>
    <form  action="{{ url_for('insert_incident') }}" method="POST" class="col s12">
        <!-- Incident Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="incident_description" name="incident_description" type="text" class="validate">
                <label for="icon_prefix">Incident Description</label>
            </div>
        <!-- Affected Person -->
        <div class="row">
            <div class="input-field col 12">
                <i class="material-icons prefix">subject</i>
                <textarea name="affected_person" id="affected_person" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Affected Person</label>
            </div>
        </div>
        </div>
        <!-- Investigation Due Date Picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="investigation_due" name="investigation_due" type="text" class="datepicker">
                <label for="icon_prefix">Due Date</label>
            </div>
        </div>
<!-- First Aid Required Switch -->
        <div class="row">
            <div class="switch">
                <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  First Aid Required
                </label>
            </div>
        </div>

<div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Incident
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>

    </form>
</div>
{% endblock %}