{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for incident in incidents %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a class="waves-effect waves-light btn btn_small blue">View</a>
                    
                </div>
                <div class="incident_header col s9">
                    <span>
                    <strong>{{incident.incident_occurred_date}}</strong> | {{incident.category_name}}
                    <span>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                <strong>{{incident.affected_person}}</strong> | {{incident.incident_description}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}