<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
    {% for incident in incidents %}
    {{incident.incident_name}}
    {{incident.category_name}}
    {{incident.incident_description}}
    {{incident.first_aid_required}}
    {{incident.investigation_due}}
    {% endfor %}
<ul class="collapsible" data-collapsible="accordion">
    {% for incident in incidents %}
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>First</div>
            <strong>{{incident.incident_name}}</strong> - {{incident.investigation_due}}
            <div class="collapsible-body"><span>{{incident.incident_description}}</span></div>
        </li>
    </ul>
{% endblock %}